.header{
  background-color:#440000;
  height:100px;
}

.main{
  background-color:#FFD700;
  height:10000px;
  padding-left:30px;
}

.footer{
  height:100px;
}

.header-logo{
  color:#FFFFFF;
  font-size:50px;
  float:left;
  padding:10px 25px;
}

.header-list li{
  color:#FFFFFF;
  list-style:none;
  float:left;
  padding:30px 50px;
}

.copy-container h1{
  font-size:30px;
}
.copy-container h2{
  font-size:20px;
}

.contents-item{
  
}

.footer-logo{
  float:left;
  font-size:30px;
}

.footer-list li{
  list-style:none;
}

.contents-item{
  height:300px;
  width:400px;
  padding-left:10px;
  float:left;
}

a{
  color:#440000;
  list-style:none;
}


@media screen and(max-width: 480px) {
    img {
    border: 0;
    }
    }
@media screen and(min-width: 1280px) {
    img {
    border: 1px solid red;
    }
}


.top-banner{
	display: flex;
	flex-wrap:wrap;
}
.top-banner li {
	width: calc(100%/4);/*←画像を横に4つ並べる場合*/
	padding:0 5px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
}
.top-banner li img {
	max-width:100%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
	border:solid 1px #ccc; /*←画像を1pxのグレーの枠線で囲む指定の場合*/
}
