.header{
  background-color:#440000;
  height:100px;
}

.main{
  background-color:#FFD700;
  height:500px;
}

.footer{
  height:100px;
}

.header-logo{
  color:#FFFFFF;
  font-size:50px;
  float:left;
  padding:10px 25px;
}

.header-list li{
  color:#FFFFFF;
  list-style:none;
  float:left;
  padding:30px 50px;
}

.copy-container h1{
  font-size:30px;
}
.copy-container h2{
  font-size:20px;
}

.contents-item{
  float:left;
}

.footer-logo{
  float:left;
  font-size:30px;
}

.footer-list li{
  list-style:none;
}

img{
  height:100px;
  width:200px;
}
