.header{
  background-color:#440000;
  height:200px;
}

.main{
  background-color:#FFD700;
  height:1000px;
}

.header-logo{
  color:#FFFFFF;
  font-size:100px;
  float:left;
  padding:30px 50px;
}

li{
  color:#FFFFFF;
  list-style:none;
  float:left;
  padding:30px 50px;
}

.footer-logo{
  list-style:none;
}
